name: live_activities
description: A Flutter plugin to use iOS 16.1+ Live Activities & iPhone 14 Pro Dynamic Island features
version: 1.5.0+1
homepage: https://dimitridessus.fr/
repository: https://github.com/istornz/live_activities

environment:
  sdk: '>=2.17.3 <3.0.0'
  flutter: ">=2.5.0"

screenshots:
  - description: 'Display a live activity on the iPhone 14 Pro+ dynamic island.'
    path: images/showcase/static/dynamic_island.png
  - description: 'Display a live activity on the lockscreen.'
    path: images/showcase/static/lockscreen_live_activity.png
  - description: 'Create a new live activity with the live_activities plugin.'
    path: images/showcase/animations/create_live_activity.gif
  - description: 'Update a live activity with the live_activities plugin.'
    path: images/showcase/animations/update_live_activity.gif
  - description: 'live_activities plugin logo.'
    path: images/logo.jpg

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.3
  app_group_directory: ^2.0.0
  flutter_image_compress: ^1.1.3
  path_provider: ^2.0.11
  flutter_native_image: ^0.0.6+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' specifies the class (in Java, Kotlin, Swift, Objective-C, etc.)
  # which should be registered in the plugin registry. This is required for
  # using method channels.
  # The Android 'package' specifies package in which the registered class is.
  # This is required for using method channels on Android.
  # The 'ffiPlugin' specifies that native code should be built and bundled.
  # This is required for using `dart:ffi`.
  # All these are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      ios:
        pluginClass: LiveActivitiesPlugin

  # To add assets to your plugin package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
